body{
	background-color: #f0e8ec;
	margin: 0;
}

aside{
	background-color: #8a0f51;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 1px 5px #e4e2e2cc;
	color: #fff;
	height: 90vh;
	
}
h1, h2{
	text-align: center;
	margin-top: 5px;
}
.projectWrapper{
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 1px 5px #e4e2e2cc;
	height: 60vh;
	overflow-y: scroll;
	margin: 15px 20px 25px 20px;
	
}
#projectName{
	border-radius: 4px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.projects:hover{
	background-color: #f0e8ec;
}
button{
	color: #8a0f51;
	font-weight: bold;
}
main{
	background-color: #edd3e1;
	border-radius: 15px;
	box-shadow: 0 1px 5px #e4e2e2cc;
	height: 90vh;
	
}

.todoListWrap{
	text-align:  center;
	padding: 0;
	overflow-y: hidden;

}
.todo button,.thead-dark {
	background-color: #8a0f51 !important;
	color: #fff;
}

.todo button:hover{
	background-color: #c75793 !important;
	color: #fff;
}
.projects{
	text-align: center;
	border-bottom: 1px solid #8a0f51;
	padding: 10px;
	cursor: pointer;
	color: #000;
}

.table-responsive{
	background-color: #fff;
	color: #000;
  height: 64vh;
	overflow-y: auto;
	width: 100%;

}

.thead-dark {
	overflow: auto;
}
tbody{
	overflow: auto;
	width: 100%
}

.strike{
	text-decoration: line-through;
	color: #ff0000;
}
.del{
	background-color:#ff0000;
	border: 0;
	border-radius: 3px;
	color:#fff;
	font-size: 12px;
}
.edit{
	background-color:#008000;
	border: 0;
	border-radius: 3px;
	color:#fff;
	font-size: 12px;
}
.edit:hover{
	background-color:#01aa01;
	color:#e0dede;
}
.del:hover{
	background-color:#d40404;
	color:#e0dede;
}
.active{
	background-color: #8a0f51;
	color: #fff;
}

.edit-todo{
	background-color: #8a0f51;
	border-radius: 10px;
	color: #fff;
	display: none;
	padding: 40px;
	position: absolute;
	top: 80px;
}

#update, #close{
	background-color: #fff;
	color: #8a0f51 !important;
	font-weight: bolder;
}